<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Visit Our Store</h3>
                <p>Be assured of exciting shopping Experience </p>
            </div>
            <div class="footer-col-2">
                <img src="{{setting.logo.url}}">
            </div>
            <div class="footer-col-3">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href="{% url 'shopcart' %}">Your Cart</a></li>
                </ul>
            </div>
            <div class="footer-col-4">
                <ul>
                    <li><a href="" target="_blank">Facebook</a></li>
                    <li><a href="" target="_blank">Instagram</a></li>
                    <li><a href="" target="_blank">Twitter</a></li>
                    <li><a href="" target="_blank">Whatsapp</a></li>    
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright1">Copyright 2022 &copy; Floles Organics</p>
        <p class="copyright"><a class="none" href="" target="_blank">Designed By: Tdevpro</a></p>
    </div>
</div>